<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="admin-panel.css">
    <title>Novefa</title>
</head>

<body>
    <table id="activeLotsTable">
        <tr>
            <th>Shelf number</th>
            <th>Tray number</th>
            <th>Lot number</th>
            <th>Type</th>
            <th>Status</th>
            <th>Lot sown</th>
            <th>Lot under light</th>
            <th>Lot partial harvest</th>
            <th>Lot harvested</th>
            <th>Weight</th>
            <th>Sent to?</th>
        </tr>
    </table>

    <button onclick="Lot.createNewLot('27', 'softice')">Add new test lot</button>

    <table id="inactiveLotsTable" style="margin-top:300px;">
        <tr>
            <th>Shelf number</th>
            <th>Tray number</th>
            <th>Lot number</th>
            <th>Type</th>
            <th>Status</th>
            <th>Lot sown</th>
            <th>Lot under light</th>
            <th>Lot partial harvest</th>
            <th>Lot harvested</th>
            <th>Weight</th>
            <th>Sent to?</th>
        </tr>
    </table>


    <!-- Modal-open button-->
    <button onclick="DisplayPrintModal()">Print Options</button>

    <!--Modal TODO: add close on close button, and clicking outside the modal
        remember to set printer as default to not, get a pop-up asking to print on chrome browser
    -->
    <dialog id="Modal">

        <!--Print buttons-->
        <button id="PrintProduce" onclick="PrintProduce();">New Seed</button>
        <button id="PrintTray" onclick="PrintTray();">New Tray</button>
        <button id="PrintShelf" onclick="PrintShelf();">New Shelf</button>

        <!-- Let user manually create a barcode-->
        <input type="text" name="txt_input" id="txt_input">
        <button id="PrintManually" onclick="ManualBarcodeEntry();">Generate Barcode</button>

        <!-- Container for the barcode-->
        <svg id="code128"></svg>

    </dialog>

    <!-- Import custom javascript-->
    <script src="admin-panel.js"></script>
    <script>Lot.importDbLots('<%= allLots %>');</script>
    <!--Include barcode.js plugin to generate barcodes-->
    <script src="../plugins/JsBarcode.all.min.js"></script>

</body>
</html>