table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

tr:nth-child(even) {
    background-color: #dddddd;
}

/* Udkokumenteret for nu, tror ikke den gør noget
#PrintShelf {
    display: block;
}
*/

/* Tooltip container */
.tooltip {
    position: relative;
}

    /* Tooltip text */
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 180px;
        background-color: black;
        color: #fff;
        text-align: center;
        padding: 5px 0;
        border-radius: 6px;
        /* Position the tooltip text - see examples below! */
        position: absolute;
        z-index: 1;
        top: 85%;
        left: 50%;
        margin-left: -90px; /* Use half of the width (120/2 = 60), to center the tooltip */
    }

    /* Show the tooltip text when you mouse over the tooltip container */
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }

/* Use this specific styling when printing to label-printer */
@media print {
    body, html, #code128 {
        margin: 0px !important;
        padding: 0px !important;
        border: 0px;
    }

    #code128 {
        display: inline;
        position: absolute;
        left: 25%;
        width: 180px; /* dependendt on label size */
        height: auto;
    }

    @page {
        margin: 0px !important;
        padding: 0px !important;
    }
}
