<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Novefa</title>
    <link rel="stylesheet" href="index.css">
</head>
<body>
    
    <div class="login-form">
        <h1>Novefa login-form</h1>
        <form action="auth" method="POST">
            <input type="text" name="username" placeholder="Username" id="username" required>
            <input type="password" name="password" placeholder="Password" id="password" required>
            <input type="submit" id="submit">
        </form>
    </div>

    <a href="scan/scan.html">Scan application</a>
    <br>
    <a href="admin-panel/">Admin application</a>
</body>
</html>